.app-container {
  padding: 50px;
  border: 2px solid black;
  background-color: pink;
  border-radius: 10px;
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.count-display {
  font-size: 1rem;
  margin-bottom: 30px;
  font-family: sans-serif;
}

.button-container {
  display: flex;
  margin-bottom: 20px;
}

.action-button {
  margin: 0 25px; 
  padding: 22px;
  font-size: 15px;
  background-color: lightskyblue;
  color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.action-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

